<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="website">
      <div class="navigation lilita-one-regular">
        <div>
          <div>
            <a href="/">CronosTask</a>
          </div>
        </div>
        <div>
          <a class="profile" href="/profile"><%=name%></a>
          <a class="logout" href="logout">Logout</a>
        </div>
      </div>
      <div class="main-container">
          <div class="add-task">
            <form action="" id="taskForm">
              <input type="text" name="title" placeholder=" + Add Task" />
            </form>
          </div>
          <div class="display-task">
            <div class="category">
              <h4>Not Started</h4>
              <% notStarted.forEach(function(task) { %>
              <div class="task">
                <div class="task-state">
                  <form id="updateStatus">
                    <div>
                    <input type="hidden" name="taskId" value="<%= task._id%>">
                    <select name="status">
                      <option value="Not Started" <%= task.status === "Not Started" ? 'selected' : '' %>>Not Started</option>
                      <option value="In Progress" <%= task.status === "In Progress" ? 'selected' : '' %>>In Progress</option>
                      <option value="Completed" <%= task.status === "Completed" ? 'selected' : '' %>>Completed</option>
                    </select>
                    </div>
                  </form>
                </div>
                <div class="task-details">
                  <form id="updateTitle">
                    <div>
                    <input type="hidden" name="taskId" value="<%= task._id%>">
                    <input type="text" name="title" value="<%= task.title %>">
                    </div>
                  </form>
                  <p><%= task.description %></p>
                </div>
                <div class="task-actions">
                  <div>
                    <form
                      action="/tasks/delete-task/<%= task._id %>"
                      method="POST"
                    >
                      <button type="submit">Delete</button>
                    </form>
                  </div>
                  <div>
                    <form action="/tasks/get-task/<%= task._id %>" method="GET">
                      <button class="updateTask" data-task-id="<%= task._id %>">
                        Update
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
           <div class="category">
              <h4>In Progress</h4>
              <% inProgress.forEach(function(task) { %>
              <div class="task">
                <div class="task-state">
                  <form id="updateStatus">
                    <div>
                    <input type="hidden" name="taskId" value="<%= task._id%>">
                    <select name="status">
                      <option value="Not Started" <%= task.status === "Not Started" ? 'selected' : '' %>>Not Started</option>
                      <option value="In Progress" <%= task.status === "In Progress" ? 'selected' : '' %>>In Progress</option>
                      <option value="Completed" <%= task.status === "Completed" ? 'selected' : '' %>>Completed</option>
                    </select>
                    </div>
                  </form>
                </div>
                <div class="task-details">
                  <form id="updateTitle">
                    <div>
                    <input type="hidden" name="taskId" value="<%= task._id%>">
                    <input type="text" name="title" value="<%= task.title %>">
                    </div>
                  </form>
                  <p><%= task.description %></p>
                </div>
                <div class="task-actions">
                  <div>
                    <form
                      action="/tasks/delete-task/<%= task._id %>"
                      method="POST"
                    >
                      <button type="submit">Delete</button>
                    </form>
                  </div>
                  <div>
                    <form action="/tasks/get-task/<%= task._id %>" method="GET">
                      <button class="updateTask" data-task-id="<%= task._id %>">
                        Update
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <div class="category">
              <h4>Completed</h4>
              <% completed.forEach(function(task) { %>
              <div class="task">
                <div class="task-state">
                  <form id="updateStatus">
                    <div>
                    <input type="hidden" name="taskId" value="<%= task._id%>">
                    <select name="status">
                      <option value="Not Started" <%= task.status === "Not Started" ? 'selected' : '' %>>Not Started</option>
                      <option value="In Progress" <%= task.status === "In Progress" ? 'selected' : '' %>>In Progress</option>
                      <option value="Completed" <%= task.status === "Completed" ? 'selected' : '' %>>Completed</option>
                    </select>
                    </div>
                  </form>
                </div>
                <div class="task-details">
                  <form id="updateTitle">
                    <div>
                    <input type="hidden" name="taskId" value="<%= task._id%>">
                    <input type="text" name="title" value="<%= task.title %>">
                    </div>
                  </form>
                  <p><%= task.description %></p>
                </div>
                <div class="task-actions">
                  <div>
                    <form
                      action="/tasks/delete-task/<%= task._id %>"
                      method="POST"
                    >
                      <button type="submit">Delete</button>
                    </form>
                  </div>
                  <div>
                    <form action="/tasks/get-task/<%= task._id %>" method="GET">
                      <button class="updateTask" data-task-id="<%= task._id %>">
                        Update
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
      </div>
    </div>

    <script>
      //creating new task script
      //get the add task form values from html
      const addTaskForm = document.querySelector("#taskForm");
      // add event listener of form after using enters the task name
      addTaskForm.addEventListener("submit", async (e) => {
        //prevent the submit event from refreshing page
        e.preventDefault();

        //get the task fields from form
        //only name is entered for now
        const title = taskForm.title.value;
        const description = "";
        const status = "";
        const dueDate = "";

        //send the task data to server for task to be created in database

        const res = await fetch("tasks/create-task", {
          method: "POST",
          body: JSON.stringify({
            title,
            description,
            status,
            dueDate,
          }),
          headers: { "Content-Type": "application/json" },
        });
        //clear addTaskForm
        addTaskForm.title.value = "";
        //reload home page to load with new tasks
        window.location.reload();
      });

      //Update task status from home page
      const updateStatus = document.querySelectorAll("#updateStatus");
      updateStatus.forEach((taskStatus)=>{
      taskStatus.addEventListener("change", async (e)=>{
        const taskId = taskStatus.taskId.value;
        const newStatus = taskStatus.status.value;
        
       await fetch(`/tasks/update-status`, {
        method:"PUT",
        body: JSON.stringify({
          taskId: taskId,
          status: newStatus
        }),
        headers:{"Content-Type": "application/json"}
       })
       window.location.reload();
      })
      })

      //Update task tittle from home page
      const updateTitle = document.querySelectorAll("#updateTitle");
      updateTitle.forEach((taskTitle)=>{
      taskTitle.addEventListener("submit", async (e)=>{
        e.preventDefault();
        const taskId = taskTitle.querySelector('input[name="taskId"]').value;
        const newTitle = taskTitle.querySelector('input[name="title"]').value;

        console.log(taskId)
         console.log(newTitle)
                 
       await fetch(`/tasks/update-title`, {
        method:"PUT",
        body: JSON.stringify({
          taskId: taskId,
          title: newTitle
        }),
        headers:{"Content-Type": "application/json"}
       })
       window.location.reload();
      })
      })

    </script>
  </body>
</html>
